.blog-detail-page {
    position: relative;
    color: white;
    min-height: 100vh;
    z-index: 1;
}

.canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.blog-header {
    position: relative;
    z-index: 10;
    margin-bottom: 100px;
}

.blog-detail {
    position: relative;
    z-index: 5;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}

footer {
    position: relative;
    z-index: 3;
}

.left-box {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.title {
    text-align: center;
    font-size: 2.0rem;
    mline-height: 0.2;
}

.author {
    font-size: small;
    line-height: 0.2;
}

.date {
    font-size: small;
    line-height: 0.2;
}

.content {
    mline-height: 1.0;
    font-size: 1.4rem;
}